name: Build Flashrom

on:
  push:
    branches:
      - dasharo-release
      - dasharo-develop
      - ci
  pull_request:
  workflow_dispatch:  # Allows manual triggering

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y git build-essential debhelper pkg-config libpci-dev libusb-1.0-0-dev libftdi1-dev meson

      - name: Build Flashrom
        run: |
          meson setup builddir
          meson compile -C builddir

      - name: Save Flashrom binary as artifact
        run: |
          mkdir artifacts
          mv flashrom artifacts/
        continue-on-error: true  # Allow workflow to continue even if 'flashrom' doesn't exist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: flashrom-artifact
          path: artifacts/
